.about{
    height: 100vh;
}
.container{
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100vh;
    width: 100vw;
    background-image: url("/public/20200531101510.png");

}
.right{
    width: 60vw;    
    h1{
        font-size: 3.5rem;
        display: flex;
        justify-content:center;
        padding: 2.5rem;
    }
    p{
        padding: 2.5rem;
        font-size: 1.9rem;
    }
}